   
   html, body{
    font-family: monospace;
    background-color: #e5e5e5;
   }
.header {
  position: relative;
  /*padding-top: 20px;*/
  background-color: #0d0f14;
  color: white;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

}
.header .logo {
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 900;
}
.header .menu {
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding: 15px;
  margin-left: auto;
  /*margin-right: 40px;*/
}
.header .item {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
}




.header .item a {
  transition: 0.3s;
  font-size: 15px;
  color: white;
}
.header .item a:hover {
  color: #C4AB36;
  transform: scale(1.1);
  text-decoration: none;
  cursor: pointer;
}


.header .item:not(:last-child) {
  margin-right: 20px;
  border-bottom: 1px solid white;
}
.header .item::after {
  content: "";
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  transition: 0.3s;
}


.header .hamburger {
  cursor: pointer;
  display: none;
  background-color: transparent;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}
.header .hamburger span {
  width: 30px;
  height: 3px;
  background-color: white;
}
.header .hamburger span:nth-child(2) {
  margin-left: auto;
  transition: background-color 0.25s, transform 0.3s;
}
.header .hamburger span:nth-child(1),
.header .hamburger span:nth-child(3) {
  transition: transform 0.45s;
}

.header.mobile .menu {
  pointer-events: auto;
  background-color: #06124f;
}
.header.mobile .menu::before {
  transform: translatex(0);
  border-bottom-left-radius: 0;
}
.header.mobile .menu::after {
  opacity: 1;
}
.header.mobile .menu .item {
  transform: translatex(0);
}
.header.mobile .menu .item:nth-child(1) {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(26) {
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .menu .item:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
.header.mobile .hamburger {
  z-index: 1000;
}
.header.mobile .hamburger span {
  background-color: #fff;
}
.header.mobile .hamburger span:nth-child(2) {
  transform: translateX(-20px);
  background-color: transparent !important;
}
.header.mobile .hamburger span:nth-child(1) {
  transform: translate(0%, 6px) rotate(315deg);
}
.header.mobile .hamburger span:nth-child(3) {
  transform: translate(0%, -11px) rotate(-315deg);
}




.custom-dropbtn {
    background-color: #06124f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d0f14;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 30px;
}

.custom-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: none!important;
    transform: none!important;
}
.custom-dropdown-content a:hover {background-color: #ddd;}

.custom-dropdown:hover .custom-dropdown-content {display: block;}

.custom-dropdown:hover .custom-dropbtn {background-color: black;}


  .city{
    cursor: pointer;
   
  }
      .block-maps {
  position: relative;
  overflow: hidden;
  height: 900px;

}
      .block-maps > * {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  .block-maps svg{
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 60%;

}
.header-logo img {
    width: 200px;
}


.main-container{
      background-color: white;
    }
    .my-detail{
      padding: 20px;
      padding-bottom: 50px;
    }
    #my-form{
      margin-top: 30px;
    }
    .main-title h2{
      font-size: 30px;
      font-weight: bold;
      color: #0e5d7f;
      width: fit-content;
      border-bottom: 3px solid #0e5d7f;
    }
    
    #my-custom-butt{
      background-color: #0d0f14;
      color: white;
      border: none;
      padding: 5px;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 20px;

    }
    #my-custom-butt:hover{
      background-color: #0e5d7f;
      cursor: pointer;
    }


table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-top: 30px;
      text-align: center;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    .icon-operation {
        display: inline-flex;
    }
    .icon-operation img{
      width: 30px;
      display: block;
      text-align: center;
    }













@media (min-width: 700px) {
  .header.mobile .menu::before {
    width: 40vw !important;
  }
}
@media (min-width: 500px) {
  .header.mobile .menu::before {
    width: 60vw !important;
  }
 
}

@media (max-width: 900px) {
    header.header {
       /* height: 60px; 
        margin-top: 10px;*/
    }
  .header .hamburger {
    display: flex;
    /*argin-top: 20px;
    margin-right: 20px;*/
  }
  .header .nav {
    position: relative;
  }
  .header .menu {
    pointer-events: none;
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    tranform: translateY(-50%);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100vh;
    padding-top: 60px;
    padding-right: 30px;
    margin-right: 0px;
  }
  .header .menu::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translate(100vw, 0);
    transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
    border-bottom-left-radius: 100vw;
    background-color: #000;
  }
  .header .menu::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
  }
  .header .item {
    text-transform: uppercase;
    white-space: nowrap;
    transform: translatex(100vw);
    padding-bottom: 0;
    margin-right: 0 !important;
    width: 100%;
  }
  .header .item a {
    width: 100%;
    transition: background-color 0.3s;
    text-decoration: none;
    color: #fff;
    text-align: right;
    display: block;
    font-size: 35px;
    line-height: 45px;
  }
    .header .item::after {
        display: none;
    }

}

@media (max-width: 600px) {
     .header .menu {
        width: 60%; 
      }
}
@media (max-width: 400px) {
     .header .menu {
        width: 75%; 
      }
}